---
layout: default
---
{% include floatingnav.html %}
<div class="col-lg-12 text-center">
	<h2 class="section-heading text-uppercase" style="padding-top: 100px; padding-bottom: 30px;">Questions to Ask People</h2>
</div>

<section class="bg-light page-section no-padding" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
	<div class="container corrected">
  
	  
	
  
	
  <div class="row">
 <p>
	<ol>
    <li>One word to describe our relationship</li>
    <li>How does your brain work? What does your thinking process look like?</li>
    <li>Milk? Yes no?</li>
    <li>What’s the best mistake you’ve ever made?</li>
    <li>Who is your comfort friend and why?</li>
    <li>Favorite public transportation</li>
    <li>What is your process for peeling an orange?</li>
    <li>How do you eat your Oreos?</li>
    <li>Have you learned or tried anything new recently?</li>
    <li>Do you associate love with a particular color or sensory experience?</li>
    <li>Favorite president</li>
    <li>Favorite firework</li>
    <li>What color is math?</li>
    <li>How many personalities do you have?</li>
    <li>What is something you are super proud of?</li>
    <li>Love or be loved?</li>
    <li>If you could make a full-length opera, what would it be about?</li>
    <li>What is your favorite book?</li>
    <li>Do you see yourself as a single self moving through time and have a narrative?</li>
    <li>What are you excited about right now?</li>
    <li>Olives?</li>
    <li>What question do you most regret asking someone?</li>
    <li>What question changed your reality most?</li>
    <li>If you could see a number above everyone’s head that indicated one thing about them, what would you want the number to represent?</li>
    <li>What would you name your boat if you had one?</li>
    <li>What minorly convenient superpower would you want?</li>
    <li>What song would you want to die to?</li>
    <li>Do you have a life motto?</li>
    <li>Childhood obsession?</li>
    <li>What’s your goblin name?</li>
    <li>Get rid of one: sex, drugs, rock n roll</li>
    <li>Milk or melk?</li>
    <li>Taylor Swift? Thoughts?</li>
    <li>Favorite video game?</li>
    <li>Favorite movie?</li>
    <li>What big media streaming company would you get rid of if you could?</li>
    <li>What is your horse name?</li>
    <li>What percentage of time would you want to be present for your own birth?</li>
    <li>What type of social situation makes you feel the most awkward?</li>
    <li>What was the best water you ever drank?</li>
    <li>When was the last time you felt completely yourself?</li>
    <li>What would your sleep schedule be like if left to your own devices?</li>
    <li>Do you use TikTok? What does your FYP look like?</li>
    <li>What would you hate for everyone to know about you?</li>
    <li>What’s a feeling you would do anything to feel again?</li>
    <li>Would you rather have your heart broken or break someone else’s heart?</li>
    <li>Do you think everything happens for a reason?</li>
    <li>If there was a billboard you could put a paragraph on that every human would see, what would it say?</li>
    <li>What is your worst quality and how would changing it impact your life?</li>
    <li>Favorite chore?</li>
    <li>Who in your life knows you best?</li>
    <li>Which country would you want aliens to land on to portray Earth in the best way?</li>
    <li>What movie montage type would you want to be in?</li>
    <li>Would you rather be forced to eat only spicy food or only incredibly bland food?</li>
    <li>Who would you want to hide a body with you, assuming one person equals time?</li>
    <li>Would you rather be fantastic at riding horses or amazing at driving dirt bikes?</li>
    <li>Would you rather never be able to wear pants or never be able to wear shorts?</li>
    <li>Would you rather have a horrible short-term memory or a horrible long-term memory?</li>
    <li>If you could buy a container bowl that infinitely gets refilled, how much would you pay?</li>
    <li>If you could have infinite of one food, what would it be?</li>
    <li>Would you rather be completely invisible for one day or be able to fly for one day?</li>
    <li>How did you meet your best friend?</li>
    <li>What’s your favorite web browser?</li>
    <li>What is your relationship with relationships?</li>
    <li>How do you perceive time?</li>
    <li>How much of "Starships" by Nicki Minaj can you sing right now?</li>
    <li>How are you different from your best friend?</li>
    <li>What is the weirdest scar you have? How did you get it?</li>
    <li>What’s the edgiest thing you’ve ever done?</li>
    <li>If everyone you’ve ever slept with appeared in one room together, how long would it take them to figure out why they’re there?</li>
    <li>Phone calls or texting?</li>
    <li>If you had to pick one artist, who would it be?</li>
    <li>Movie moment that made you most uncomfortable?</li>
    <li>When do you feel most out of place?</li>
    <li>What would you do in the zombie apocalypse?</li>
    <li>What cartoon world would you want to live in for a week?</li>
    <li>If you could only eat the same breakfast, the same lunch (different than breakfast), and the same dinner (different than lunch) every day, what three meals would you choose?</li>
    <li>If you could control your dreams, what would you dream about?</li>
    <li>What movie genre is your life?</li>
    <li>Thoughts on the “metaverse”?</li>
    <li>Favorite artist (in either sense)?</li>
    <li>If your genital fluid could taste/smell like anything, what would it be?</li>
    <li>What happens when we die?</li>
    <li>Thoughts on cancel culture?</li>
    <li>Last time you cried?</li>
    <li>Favorite Pokémon?</li>
    <li>If you owned a bar, what would it look like?</li>
    <li>If you could hear what someone is thinking for a day, who would you choose and why?</li>
    <li>What does friendship mean to you?</li>
    <li>If you could do any job without worrying about money, what would it be?</li>
    <li>How does kissing someone make you feel?</li>
    <li>How does holding someone’s hand make you feel?</li>
    <li>What would you do if you had guaranteed success in a field?</li>
    <li>What’s the weirdest thing in your notes app?</li>
    <li>Weirdest app on your phone?</li>
    <li>How would you dress if what people thought/money wasn’t an issue?</li>
    <li>If you could be an inanimate object for a day, what would you be?</li>
    <li>What is your personal hell?</li>
    <li>Where would you restart your life?</li>
    <li>What is a definition of love you used to believe in but don't anymore?</li>
    <li>What is your favorite thing about the most annoying person you know?</li>
    <li>Would you rather eat a ghost pepper whole or spend 48 hours in Costco?</li>
    <li>How long is jarred salsa in the fridge good for?</li>
    <li>Who would win in a fight: an unstoppable force or an immovable object?</li>
    <li>What are you most afraid of and why is it the liberal agenda?</li>
    <li>FM: JFK, RFK, RBG</li>
    <li>Chunky or smooth?</li>
    <li>Covid-19 took a hard toll on many of our lives. What makes you hard?</li>
    <li>What do you hope to achieve by the time you’re 37?</li>
    <li>Do you like hot sauce?</li>
    <li>If you could fist fight anyone in history, who?</li>
    <li>What relatively harmless animal are you inexplicably afraid of?</li>
    <li>Favorite form of transit and where are you taking it?</li>
    <li>What is an object you have an irrational emotional attachment to?</li>
    <li>What is the most illegal thing you’ve done?</li>
    <li>Beach or pool and why?</li>
    <li>Three (not necessarily practical) things you would bring if stranded on a desert island?</li>
    <li>If you were an Olympic athlete, what sport would you compete in?</li>
    <li>What is one thing you look forward to each fall?</li>
    <li>What's a conspiracy theory you think has some truth to it?</li>
    <li>Where is your favorite place on earth?</li>
    <li>What was a favorite class or teacher you had?</li>
    <li>What is one app on your phone that you never use?</li>
    <li>What is one phone app you would recommend to people?</li>
    <li>What current fashion trend should die?</li>
    <li>What’s the worst sign?</li>
    <li>Favorite "Halloween" movie?</li>
    <li>Worst dish you've ever made or eaten?</li>
		<li>If you were robbing someone and your only objective was to minorly inconvenience them, what you take and why? </li>
	<li>If you had to be sworn in on something (like for president), what document would you choose?</li>
		<li>What is a memorable celebration you attended? </li>
	<li>What day of the week is your favorite and/or represents you? </li>
    <li>What was a favorite book of yours from childhood?</li>
    <li>Memorable Halloween?</li>
    <li>What is one of the greatest pieces of advice you've been given?</li>
    <li>Why did your last relationship end (if you've been in a relationship)?</li>
	<li>Who/what is your favorite fictional character (in any form of media)?</li>
<li>What is the story behind your name?</li>
<li>What was an activity you hated doing as a child that you had to do?</li> 
<li>If you could go back in time to meet yourself when you were 10 years old and could give them one piece of advice, what would it be?</li>
		<li>If you could time travel for a date, where would you go?</li>

	
</ul>

	</ol>
	
</p>
</div>
</div>
</section>
